.dropdown {
  &--top {
    top: inherit;
    bottom: 100%;
  }

  &--bottom {
    top: 100%;
    bottom: inherit;
  }

  &--right {
    left: inherit;
    right: 0;
  }

  &--left {
    right: inherit;
    left: 0;
  }
}