/* Global application themes styles */

@import './base/colors.pcss';
@import './base/icons.pcss';
@import './base/html.pcss';
@import 'components/nav.pcss';
@import 'components/bootstrap/forms.pcss';

/* Dont forget empty line below */

