$border-color: #72a2d4;
$border-top-color: color($border-color a(0.1));

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 1rem;

  margin: 0 auto;
  border-width: 0.5rem;
  border-style: solid;
  border-radius: 50%;
  border-color: $border-color;
  border-top-color: $border-top-color;

  animation: spin 1s infinite linear;
}
